* { margin: 0; padding: 0; }
html { padding-bottom: 30px; } // don't know if this works???
a { background-color: transparent; color: #23223e; }
a.noshow { text-decoration: none; cursor: text; }

header { background-color: lightblue; text-align: center; position: fixed; top: 0;    height: 50px; width: 100%; }
footer { background-color: lightblue; text-align: center; position: fixed; bottom: 0; height: 50px; width: 100%; }

nav { background-color: lightblue; padding-top: 20px; }
nav li { margin: 3px 0 3px 0; list-style-type: none; }
nav.left {  position: fixed;  left: 0; top: 50px; bottom: 50px; width: 130px; overflow: auto; }
nav.right { position: fixed; right: 0; top: 50px; bottom: 50px; width: 130px; overflow: auto; }

div { border-style: ridge; border-width: thick; }
/* Child div will only have top ridge */
div > div { border-style: ridge none none none; border-width: thick; }
div.charmain { position: fixed; top: 50px; left: 130px; right: 130px; bottom: 50px; text-align: justify; overflow: auto; }
div table { margin: 5px; }
div p { padding-left: 15px; }

button.nav { font-size: 22px; width: 100%; border-width: medium; }
button.genl { font-size: 22px; width: 120px; border-width: medium; margin: 0 0 0 10px; }
p.head { color: darkblue; font-weight: bold; font-size: 16px; }
tr.head { text-align: center; color: darkblue; font-weight: bold; background-color: lightgray; font-size: 16px; }
tr.body { text-align: center; background-color: lightblue; }
input[type="number"] { font-size: 16px; background-color: lightblue; }
input.sentence { width: 620px; }
b.MOD { font-size: 16px; }

/*
nav li { margin: 3px 0 3px 0; list-style-type: none; border-bottom: 0px solid darkgray; }
nav ul { border-top: 5px solid darkblue; border-bottom: 5px solid darkblue; border-left: 2px solid darkgray; border-right: 2px solid darkgray; }
nav strong { font-size: 16px; }
nav li a { text-decoration: none; display: block; color: darkred; }
nav li a:hover:not(.active) { background-color: darkred; color: white; }
.active { background-color: cadetblue; }
nav { background-color: darkgray; }
*/

a.botlink { background-color: #ffffff; color: #23223e; text-decoration: none; cursor: text; }
.define { background-color: #ffffff; color: #b52c25; text-decoration: none; cursor: text; }
abbr[title] { border-bottom-width: 0; }
/*
code { font-weight: bold; font-family: "Courier New", Courier, monospace; }
*/
dfn { font-size: 12px; font-style: normal; }
article { float: left; padding: 0 10px 0 10px; text-align: justify; width: 710px; }
nav strong { font-size: 16px; }
aside {  float: right; margin: 5px 0 5px 0; width: 300px; }
div.ads { background-color: #ffffff; color: #b52c25; font-size: 10px; padding: 4px 0  4px 0; text-align: right; display: table; padding-left: 10px; }
h1.sec { margin: 10px 0 0 0; padding: 0; background-color: #ffffff; color: #b52c25; font-size: 14px; }
section p {  padding: 0; margin: 0 0 5px 0; }
.linetop { border-top: #b52c25 solid 3px; }
.linebot { border-bottom: #b52c25 solid 3px; padding-bottom: 5px; }
div.list { margin-left: 25px; }
div.notfound { padding: 15px; text-align: left; width: 460px; }
dl dd { margin: 3px 0 0 25px; }
dl dt { margin: 10px 0 0 0; }
dl, p, pre, form { font-size: 14px; }
h1 { font-size: 8mm; }
h2 { text-align: center; }
h1, h2, h3, p, h4 { margin: 10px 0 5px 0; }
h1.nrml { font-size: 2em; }
h2.nrml { font-size: 1.5em; text-align: left; }
h3, h4 { font-size: 6mm; }
h3.nrml { font-size: 1.17em; }
h4.nrml { font-size: 1.12em; }
h5.nrml { font-size: .83em; }
h6.nrml { font-size: .75em; }
header, nav, article, section, footer, figure, aside { display: block; }
html { background-color: linen; color: #23223e; font-family: Arial, Helvetica, sans-serif; }
img { border: none; }
img.showcode { float: right; margin: 8px 0 5px 20px; }
li { font-size: 14px; margin: 0 0 6px 15px; }
ol li { font-size: 14px; margin: 5px 0 5px 30px; }
div.search { height: 35px; width: 300px; }
table.tbl th, table.tbl td { background-color: #f0f1f9; color: #f3223e; padding: 3px; text-align: center; vertical-align: middle; }
td { vertical-align: top; }
.c { text-align: center; margin: 0 auto 0 auto; }
.cm { text-align: center; vertical-align: middle; }
.define { font-size: 14px; font-weight: bold; }
.defineul { background-color: #ffffff; color: #b52c25; text-decoration: underline; }
.fll { float: left; margin: 5px 10px 5px 0; }
.flr { float: right; margin: 5px 0 5px 10px; }
.info { display: none; }
.l { text-align: left; }
.nrml { margin: 10px 0 10px 25px; }
.r { text-align: right; }
.sm { font-size: 12px; }
.xsm { font-size: 9px; }
footer td.lr { width: 275px; }
p.copy, address { font-size: 12px; font-style: normal; text-align: center; text-decoration: none; }
.wd100 { width: 100%; }
.wd50 { width: 50%; }
.wd33 { width: 33%; }
figcaption.figcap { padding: 10px 0 5px 0; font-style: italic; font-size: 12px; }
input.wd140 { width: 140px; }
section { width: 335px; border-left: 1px solid #b52c25; padding: 0 10px 0 10px; margin: 4px 0 4px 0; }
section.flags { width: 300px; border: none; padding: 0; float: right; text-align: center; }
section.flags img { margin: 0 3px 0 3px; }
b.red { color: #b52c25; }
ul.dot { width: 118px; vertical-align: top; }
ul.nodot { list-style: none; width: 115px; }
ul.nodot a, ul.dot a { height: 20px; margin: 0; padding: 0; }
ul.nodot li { height: 20px; font-size: smaller; margin: 0; padding: 0; }
ul.nodot li, ul.dot li { height: 20px; font-size: smaller; margin: 0 0 0 18px; padding: 0; }
td.chbx1 { padding: 9px 0 0 0; }
td.chbx2 { padding: 12px 0 0 10px; }
.margtop { margin-top: 10px; }
section.how {width: 100%; text-align: center; border: none; }
