<!DOCTYPE html>
<html ng-app="DnDApp" ng-controller="DnDController as dndChar">

  <head>
    <meta charset="UTF-8">
    <title> DnD 5E Random Character Generator </title>

    <!-- The following makes older IEs (< IE9) work with new HTML5 tags. -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The following adds support for AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>

    <!-- This is the javascript for this specific html -->
    <script src="dnd.data.js"> </script>
    <script src="dnd.module.js"> </script>
    <script src="dnd.controller.js"> </script>

    <!-- The Cascading Style Sheet (CSS) file DnD.css is where I set colors, fonts, 
         spacing etc. - what is called "style". HTML is for "content".  -->
    <link rel="stylesheet" type="text/css" href="DnD.css">

  </head>

  <body>
    <header class="top">
      <h1> DnD Character Generator</h1>
    </header>

    <nav class="left">
      <button type="button" ng-click="dndChar.genAll()"> Generate All </button>
    </nav>

    <nav class="right">
    </nav>

    <div class="charmain">
      <p id="test"> </p>
      <!-- <p ng-model="dndChar.test" > {{dndChar.test}} </p> -->
      <p> {{dndChar.test}} </p>
      <span ng-show="dndChar.error"> Error Error </span>
      <h2> Character Identity </h2>
      <p> Player  Name: <input type="text" ng-model="dndChar.playName" placeholder="Enter your name"> </p>
      <p> Character Name: <input type="text" ng-model="dndChar.charName" placeholder="Enter a character name"> </p>


      <div class="char">
        <h2 id="name"> Character Attributes </h2>
        <button type="button" ng-click="dndChar.genStats()" > Roll Stats </button>
        <button type="button" ng-click="dndChar.changeGen()" > {{ dndChar.genType }} </button>

        <table border=3>
          <tr class="head">
            <td width="120px"> Point Total </td>
          </tr>
          <tr class="body">
            <td > {{dndChar.points}} </td>
          </tr>
        </table>

        <table border=3 >
          <tr class="head">
            <td width="120px"> Attribute </td>
            <td width="120px"> Modifier </td>
            <td width="100px"> Stat Total </td>
            <td width="100px"> Base Stat </td>
            <td width="100px"> Base Stat Modifier </td>
          </tr>
          <tr ng-repeat="att in dndChar.attributes">
            <td> {{att.attr}} </td>
            <td> {{att.mod}} </td>
            <td> {{att.total}} </td>
            <td> 
              <input ng-model="att.base" 
                     ng-change="dndChar.calcPoints()" 
                     type="number" min="3" max="18" 
              > 
              </input> 
            </td>
            <td> {{att.basemod}} </td>
          </tr>
        </table>

      </div>

      <div class="char">
        <h2 id="racechar"> Racial Characteristics </h2>
        <p> Race: 
          <select 
            ng-model="dndChar.raceSelect"
            ng-options="raceType.subr 
                        group by raceType.race 
                        for raceType in dndChar.raceTypes"
            ng-change="dndChar.updateRace()"
          >
          </select>
        </p>

        <table border=3>
          <tr class="head">
            <td width="120px"> Item </td>
            <td width="100px"> Value </td>
          </tr>
          <tr ng-repeat="att in dndChar.raceTable">
            <td> {{att.attr}} </td>
            <td> {{att.value}} </td>
          </tr>
        </table> 
        <p ng-repeat="line in dndChar.raceInfo">
          <strong> {{line.lbl}} </strong> {{line.val}} 
        </p>
      </div>

      <div class="char">
        <h2 id="classchar"> Class Characteristics </h2>
        <p> {{dndChar.classDesc}} </p>
        <p> Class: 
          <select 
            ng-model="dndChar.classSelect"
            ng-options="classType.class+': '+ classType.subc 
                        group by classType.class 
                        for classType in dndChar.classTypes"
            ng-change="dndChar.updateClass()"
          >
          </select>
        </p>

        <table border=3>
          <tr class="head">
            <td width="120px"> Item </td>
            <td width="100px"> Value </td>
          </tr>
          <tr ng-repeat="att in dndChar.classTable">
            <td> {{att.attr}} </td>
            <td> {{att.value}} </td>
          </tr>
        </table> 
        <p ng-repeat="line in dndChar.classInfo">
          <strong> {{line.lbl}} </strong> {{line.val}} 
        </p>
      </div>


    </div>

  </body>
</html>

<!--
      <table border=3 >
        <tr class="head">
          <td width="120px"> Attribute </td>
          <td width="120px"> Modifier </td>
          <td width="100px"> Stat Total </td>
          <td width="100px"> Base Stat </td>
        </tr>

        <tr class="body" >
          <td > Strength </td>
          <td> <b class="MOD" id="strmod2" >0</b> </td>
          <td id="strtot" > 0 </td>
          <td> 
          <table>  <tr> <td>
                <input type="number" id="str" min="3" max="18" onchange="calcPoints()" > </input> 
          </td> <td>
                <b class="MOD" id="strmod" > </b>
          </td> </tr> </table> 
          </td> 
        </tr>

        <tr class="body" >
          <td > Dexterity </td>
          <td> <b class="MOD" id="dexmod2" >0</b> </td>
          <td id="dextot" > 0 </td>
          <td> 
          <table>  <tr> <td>
                <input type="number" id="dex" min="3" max="18" onchange="calcPoints()" > </input> 
          </td> <td>
                <b class="MOD" id="dexmod" > </b>
          </td> </tr> </table> 
          </td> 
        </tr>

        <tr class="body" >
          <td > Constitution </td>
          <td> <b class="MOD" id="conmod2" >0</b> </td>
          <td id="contot" > 0 </td>
          <td> 
          <table>  <tr> <td>
                <input type="number" id="con" min="3" max="18" onchange="calcPoints()" > </input> 
          </td> <td>
                <b class="MOD" id="conmod" > </b>
          </td> </tr> </table> 
          </td> 
        </tr>

        <tr class="body" >
          <td > Intelligence </td>
          <td> <b class="MOD" id="intmod2" >0</b> </td>
          <td id="inttot" > 0 </td>
          <td> 
          <table>  <tr> <td>
                <input type="number" id="int" min="3" max="18" onchange="calcPoints()" > </input> 
          </td> <td>
                <b class="MOD" id="intmod" > </b>
          </td> </tr> </table> 
          </td> 
        </tr>

        <tr class="body" >
          <td > Wisdom </td>
          <td> <b class="MOD" id="wismod2" >0</b> </td>
          <td id="wistot" > 0 </td>
          <td> 
          <table>  <tr> <td>
                <input type="number" id="wis" min="3" max="18" onchange="calcPoints()" > </input> 
          </td> <td>
                <b class="MOD" id="wismod" > </b>
          </td> </tr> </table> 
          </td> 
        </tr>

        <tr class="body" >
          <td > Charisma </td>
          <td> <b class="MOD" id="chamod2" >0</b> </td>
          <td id="chatot" > 0 </td>
          <td> 
          <table>  <tr> <td>
                <input type="number" id="cha" min="3" max="18" onchange="calcPoints()" > </input> 
          </td> <td>
                <b class="MOD" id="chamod" > </b>
          </td> </tr> </table> 
          </td> 
        </tr>
      </table>

    </div>

    <div class="char">
      <h2> Character Background </h2>
      <button type="button" onclick="genBack()"> Change </button>
      <p> Background: <select id="backgrnd" onchange="updateTrait()" > </select> </p>
      <p id="backInfo"> </p>
      <p> Personality Trait One: <input type="text" class="sentence" id="ptrait1"> </input> </p>
      <p> Personality Trait Two: <input type="text" class="sentence" id="ptrait2"> </input> </p>
      <p> Ideal: <input type="text" class="sentence" id="ideal"> </input> </p>
      <p> Bond: <input type="text" class="sentence" id="bond"> </input> </p>
      <p> Flaw: <input type="text" class="sentence" id="flaw"> </input> </p>
    </div>

    </div>

    <footer>
      <h1> <b class="red"> Warning: Information may be copyrighted </b> </h1>
    </footer>


  </body>

</html>
-->
