<!DOCTYPE html>
<html ng-app="DnDApp" ng-controller="DnDController as dndChar">

  <head>
    <meta charset="UTF-8">
    <title> DnD 5E Random Character Generator </title>

    <!-- The following makes older IEs (< IE9) work with new HTML5 tags. -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The following adds support for AngularJS -->
    <!-- Temporary copy angularJS to local for use when internet is down
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js" ></script> 
    -->
    <script src="angular.min.js"></script>

    <!-- This is the javascript for this specific html -->
    <script src="dnd.module.js"> </script>
    <script src="dnd.controller.js"> </script>
    <script src="dnd.factory.js"> </script>
    <script src="dnd.dataservice.js"> </script>

    <!-- The Cascading Style Sheet (CSS) file DnD.css is where I set colors, fonts, 
         spacing etc. - what is called "style". HTML is for "content".  -->
    <link rel="stylesheet" type="text/css" href="DnD.css">

  </head>

  <body>
    <header class="top">
      <h1> DnD Character Generator</h1>
    </header>

    <nav class="left">
      <button type="button" ng-click="dndChar.genAll()"> Random All </button>
      <button type="button" ng-click="dndChar.setTest()"> Test </button>
<!--
-->
    </nav>

    <nav class="right"> </nav>

    <div class="charmain">
      <p> {{dndChar.test}} </p>
      <p> {{dndChar.currentLanguage}} </p>
<!--
-->
      <h2> Character Identity by {{dndChar.playName}} </h2>
      <p> Player  Name: <input type="text" ng-model="dndChar.playName" placeholder="Enter your name" /> </p>
      <p> Character Name: <input type="text" ng-model="dndChar.charName" placeholder="Enter a character name" /> </p>


      <div class="char">
        <h2 id="name"> {{dndChar.charName}} Character Attributes </h2>
        <button type="button" ng-click="dndChar.genStats()" > Roll Stats </button>
        <button type="button" ng-click="dndChar.changeGen()" > {{ dndChar.genType }} </button>

        <div class="sub" ng-show="dndChar.hasChar">
        <table border=3>
          <tr class="head">
            <td width="120px"> Point Total </td>
          </tr>
          <tr class="body">
            <td > {{dndChar.points}} </td>
          </tr>
        </table>

        <table border=3 >
          <tr class="head">
            <td width="120px"> Attribute </td>
            <td width="120px"> Modifier </td>
            <td width="100px"> Stat Total </td>
            <td width="100px"> Base Stat </td>
            <td width="100px"> Race Additions </td>
          </tr>
          <tr ng-repeat="att in dndChar.attributes">
            <td> {{att.attr}} </td>
            <td> {{att.mod}} </td>
            <td> {{att.total}} </td>
            <td> 
              <input ng-model="att.base" 
                     ng-change="dndChar.calcTotal()" 
                     type="number" min="3" max="18" /> 
            </td>
            <td> {{att.basemod}} </td>
          </tr>
        </table>

      </div>

      <div class="char">
        <h2 id="racechar" ng-model="dndChar.raceTitle"> {{dndChar.raceTitle}} </h2>
        <p> Race: 
          <select ng-model="dndChar.raceSelect"
            ng-options="raceType.subrace group by raceType.race for raceType in dndChar.raceTypes"
            ng-change="dndChar.updateRace()" > </select>
        </p>

        <div class="sub" ng-show="dndChar.hasRace">

        <table border=3 ng-show="dndChar.raceTable">
          <tr class="head">
            <td width="120px"> Item </td>
            <td width="100px"> Value </td>
          </tr>
          <tr ng-repeat="att in dndChar.raceTable">
            <td> {{att.attr}} </td>
            <td> {{att.value}} </td>
          </tr>
        </table> 

        <p ng-repeat="line in dndChar.raceInfo">
          <strong> {{line.lbl}} </strong> {{line.val}} 
        </p>

        </div>

      </div>

      <div class="char">
        <h2 id="classchar"> {{dndChar.classTitle}} </h2>
        <p> {{dndChar.classDesc}} </p>
        <p> Class: 
          <select ng-model="dndChar.classSelect"
            ng-options="classType.class+': '+ classType.subclass 
                        group by classType.class for classType in dndChar.classTypes"
            ng-change="dndChar.updateClass()" > </select>
        </p>

        <div class="sub" ng-show="dndChar.hasClass">
        <table border=3 ng-show="dndChar.classTable">
          <tr class="head">
            <td width="120px"> Item </td>
            <td width="100px"> Value </td>
          </tr>
          <tr ng-repeat="att in dndChar.classTable">
            <td> {{att.attr}} </td>
            <td> {{att.value}} </td>
          </tr>
        </table> 
        <p ng-repeat="line in dndChar.classInfo">
          <strong> {{line.lbl}} </strong> {{line.val}} 
        </p>
        </div>
      </div>

      <div class="char">
        <h2 id="charback"> {{dndChar.backgroundTitle}} </h2>
        <p> {{dndChar.backgroundDesc}} </p>
        <p> Background: 
          <select ng-model="dndChar.backgroundSelect"
            ng-change="dndChar.updateBackground()" >
          <option ng-repeat="backgrnd in dndChar.backgrounds">{{backgrnd}}</option>
         </select> </p>

        <div class="sub" ng-show="dndChar.hasBackground">
        <p id="backSpec" ng-show="dndChar.backgroundSpShow"> {{dndChar.backgroundSpLbl}} 
            <input type="text" class="sentence" id="special" ng-model="dndChar.backgroundSp"/> </p>
        <p ng-show="dndChar.backgroundT1"> Personality Trait One: 
            <input type="text" class="sentence" id="ptrait1" ng-model="dndChar.backgroundT1"/> </p>
        <p ng-show="dndChar.backgroundT2"> Personality Trait Two: 
            <input type="text" class="sentence" id="ptrait2" ng-model="dndChar.backgroundT2"/> </p>
        <p ng-show="dndChar.backgroundI"> Ideal: 
            <input type="text" class="sentence" id="ideal" ng-model="dndChar.backgroundI"/> </p>
        <p ng-show="dndChar.backgroundB"> Bond: 
            <input type="text" class="sentence" id="bond" ng-model="dndChar.backgroundB"/> </p>
        <p ng-show="dndChar.backgroundF"> Flaw: 
            <input type="text" class="sentence" id="flaw" ng-model="dndChar.backgroundF"/> </p>

        <table border=3 ng-show="dndChar.backgroundTable">
          <tr class="head">
            <td width="120px"> Item </td>
            <td width="100px"> Value </td>
          </tr>
          <tr ng-repeat="att in dndChar.backgroundTable">
            <td> {{att.attr}} </td>
            <td> {{att.value}} </td>
          </tr>
        </table> 

        </div>
      </div>

      <div class="lang">
        <h2> Languages </h2>
        <p> Available to Select: 
              <input ng-model="dndChar.languageAvail" 
                     ng-readonly="true"
                     type="number" /> 
        </p> 
        <p> Standard: 
          <label ng-repeat="language in dndChar.languageList.Standard">
            <input 
              name="language.language"
              type="checkbox"
              ng-change="dndChar.languageSelected(language.selected)"
              value="{{language.selected}}"
              ng-model="language.selected" />
              {{language.language}}
          </label>
        </p>
        <p> Exotic: 
          <label ng-repeat="language in dndChar.languageList.Exotic">
            <input 
              name="language.language"
              type="checkbox"
              ng-change="dndChar.languageSelected(language.selected)"
              value="{{language.selected}}"
              ng-model="language.selected" />
              {{language.language}}
          </label>
        </p>

        <div class="sub" ng-show="dndChar.hasBackground">
        </div>

      </div>
    </div>

    <footer>
      <h1> <b class="red"> Warning: Information may be copyrighted </b> </h1>
    </footer>

  </body>
</html>
